header {
  width: 960px;
  height: 30px;
  text-align: center;
  background-color: lightgray;
}

.contents {
  display: flex;
}

main {
  width: 730px;
  height: 600px;
}

aside {
  width: 230px;
  height: 600px;
}

.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
  width: 230px;
  height: 23px;
  padding: 0px !important;
}
